<!DOCTYPE HTML>
<html>

<head>
	<title>Roommates</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/main.css" />
	<link rel="stylesheet" href="/static/material.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Dialog Polyfill -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.10/dialog-polyfill.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.10/dialog-polyfill.min.css" />

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/static/jquery-3.3.1.min.js"></script>
	<!-- TODO Replace with Production -->
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

	<!--
		MDL Tabs Workaround:
			MDL Tabs all load in before non-active tabs are hidden. This means
		on page load, all tabs will flicker for a second before non-active tabs
		are hidden. This workaround hides all tab panels on load so it does not
		flicker.
	-->
	<style type="text/css" id="tab-load-style">
		.mdl-layout__tab-panel {
			display: none;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function() {
			setTimeout(function(e) {
				$("#tab-load-style").remove();
			}, 100);
		});
	</script>
</head>

<body>
	<div class="app mdl-layout mdl-js-layout mdl-layout	mdl-layout--fixed-header mdl-layout--fixed-drawer">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">{{ getTitle() }}</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/logout"><i class="material-icons">exit_to_app</i></a>
				</nav>
			</div>

			<!-- Tabs -->
			<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
				<a href="#tab-overview" class="mdl-layout__tab is-active">Overview</a>
				<a href="#tab-expenses" class="mdl-layout__tab">Expenses</a>
				<a href="#tab-groceries" class="mdl-layout__tab">Groceries</a>
				<a href="#tab-chores" class="mdl-layout__tab">Chores</a>
				<a href="#tab-manage" class="mdl-layout__tab">Manage Group</a>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<header class="drawer-header">
				<img :src="avatar_url" class="user-avatar">
				<div>{{ name }}</div>
				<div>{{ email }}</div>
			</header>
			<nav class="mdl-navigation">
				<hr>
				<a class="mdl-navigation__link" v-on:click="active_group = index" v-for="(group, index) in groups" v-bind:class="{ 'mdl-navigation__link--current': active_group == index }">
					{{ group.name }}</a>
				<hr v-if="groups.length != 0">
				<a class="mdl-navigation__link dialog-open-create-group">Create a Group</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<dialog class="mdl-dialog create-group-dialog">
				<h4 class="mdl-dialog__title">Create a Group</h4>
				<div class="mdl-dialog__content">
					<form action="#" method="post">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="group-name" required>
							<label class="mdl-textfield__label" for="group-name">Group Name</label>
						</div>
					</form>
				</div>
				<div class="mdl-dialog__actions">
					<button type="button" disabled class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored create-group-submit-button">Create</button>
					<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect close">Cancel</button>
				</div>
			</dialog>

			<dialog class="mdl-dialog leave-group-confirm-dialog">
				<h4 class="mdl-dialog__title">Leave group?</h4>
				<div class="mdl-dialog__content">
					This action cannot be undone!
				</div>
				<div class="mdl-dialog__actions">
					<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent confirm-leave-button">Leave</button>
					<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect close">Cancel</button>
				</div>
			</dialog>

			<section class="mdl-layout__tab-panel is-active" id="tab-overview">
				<div class="page-content">
					<!-- Randomly filled in color. -->
					<div class="mdl-card mdl-card--border mdl-shadow--2dp float-card">
						<div class="mdl-card__title mdl-card--expand">
							<h2 class="mdl-card__title-text">181 Lester, Suite 206</h2>
						</div>
						<div class="mdl-card__supporting-text">
							Some kind of summary of your group and activities.
						</div>
					</div>
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="tab-expenses">
				<div class="page-content">
					<!-- Your content goes here -->
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="tab-groceries">
				<div class="page-content">
					<!-- Your content goes here -->
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="tab-chores">
				<div class="page-content">
					<!-- Your content goes here -->
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="tab-manage">
				<div class="page-content">
					<h6>Members</h6>
					<ul class="group-members mdl-list">
						<li class="mdl-list__item mdl-list__item--two-line" v-for="member in members">
							<span class="mdl-list__item-primary-content">
								<img class="mdl-list__item-avatar" :src="member.picture" />
								<span>{{ member.name }}<span v-if="member.email == email"> (You)</span></span>
								<span class="mdl-list__item-sub-title">{{ member.email }}</span>
							</span>
						</li>
					</ul>
					<h6>Pending Invitations</h6>
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<tbody>
							<tr v-for="invite in pending_invitations">
								<td class="mdl-data-table__cell--non-numeric">{{ invite }}</td>
								<td>
									<button class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">cancel</i>
									</button>
								</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">
									<div class="mdl-textfield mdl-js-textfield" style="margin: -20px 0;">
										<input class="mdl-textfield__input" type="email" id="username" />
										<label class="mdl-textfield__label" for="username">Invite by email...</label>
									</div>
								</td>
								<td>
									<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
										Invite
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<h6>Leave</h6>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent leave-group-button">
						Leave This Group
					</button>
				</div>
			</section>
		</main>
	</div>
	<script type="text/javascript" src="/static/material.min.js"></script>
	<script type="text/javascript" src="/data.js"></script>
	<script type="text/javascript" src="/create-group-dialog.js"></script>
	<script type="text/javascript" src="/leave-group-confirm-dialog.js"></script>
</body>

</html>
