header.drawer-header {
    text-align: center;
    padding: 16px;
}

header.drawer-header img.user-avatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 10px;
}

div.page-content {
    padding: 16px;
}

div.float-card {
    width: 320px;
    float: left;
    margin: 1rem;
    position: relative;
}
